[project]
	description = Release version of Hell guardians.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Anton Stakhouskiy (badabum007)
[access "refs/for/refs/*"]
	read = group user/Anton Stakhouskiy (badabum007)
	push = group user/Anton Stakhouskiy (badabum007)
	label-Code-Review = -2..+2 group user/Anton Stakhouskiy (badabum007)
	label-Verified = -1..+1 group user/Anton Stakhouskiy (badabum007)
	rebase = group user/Anton Stakhouskiy (badabum007)
	removeReviewer = group user/Anton Stakhouskiy (badabum007)
	submit = group user/Anton Stakhouskiy (badabum007)
[access "refs/heads/*"]
	read = group user/Anton Stakhouskiy (badabum007)
	create = group user/Anton Stakhouskiy (badabum007)
	push = +force group user/Anton Stakhouskiy (badabum007)
	pushMerge = group user/Anton Stakhouskiy (badabum007)
[access "refs/tags/*"]
	push = +force group user/Anton Stakhouskiy (badabum007)
	pushTag = group user/Anton Stakhouskiy (badabum007)
	pushSignedTag = group user/Anton Stakhouskiy (badabum007)
